@font-face {
  font-family: icon;
  src: url(./fonts/CormorantGaramond-Italic.ttf);
}
@font-face {
  font-family: manubar;
  src: url(./fonts/CormorantGaramond-Light.ttf);
}
@font-face {
  font-family: hfont;
  src: url(./fonts/JosefinSlab-SemiBoldItalic.ttf);
}
@font-face {
  font-family: tdiv;
  src: url(./fonts/Marcellus-Regular.ttf);
}
@font-face {
  font-family: heading;
  src: url(./fonts/Taviraj-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first_div {
  width: 100%;
  height: 530px;
  background: linear-gradient(to right, #f2eadf, #d2a890);
  padding: 30px;
}

.header {
  width: 100%;
  height: 75px;
}
.header > h1 {
  font-size: 60px;
  font-family: icon;
  float: left;
}
.header > h1 > a {
  text-decoration: none;
  color: #171310;
}
.header > .manubar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 29px;
  margin-left: 100px;
}
.header > .manubar > ul {
  float: right;
  display: flex;
  list-style: none;
}
.header > .manubar li a {
  text-decoration: none;
  display: block;
  padding: 4px 20px;
  color: #31271d;
  font-size: 22px;
  font-family: manubar;
  word-spacing: 6px;
  letter-spacing: 4px;
  font-weight: bold;
  transition: 0.5s;
}
.header > .manubar li a:hover {
  color: white;
  background-color: #c7997f;
  border-radius: 8px;
}

.contactHr {
  float: right;
  margin: 30px 17px;
}
.contactHr > ul {
  display: flex;
}
.contactHr > ul > li {
  list-style: none;
  padding: 2px 5px;
}
.contactHr > ul > li > a {
  text-decoration: none;
  font-size: 24px;
  color: #1f1f21;
  transition: 1s;
}
.contactHr > ul > li > a:hover {
  color: white;
}

.himg {
  width: 600px;
  float: left;
  position: relative;
}
.himg > img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
  margin: 40px 0px;
}
.himg > div {
  float: right;
  margin: 2px;
}
.himg > div > span {
  font-size: 50px;
  background-color: #545d62;
  color: white;
  padding: 2px 12px;
  font-family: hfont;
}
.himg .aligningYour {
  position: absolute;
  top: 122px;
  right: -166px;
}
.himg .dreamLife {
  position: absolute;
  top: 192px;
  right: -91px;
}
.himg .andBuisness {
  position: absolute;
  top: 263px;
  right: -140px;
}

.readingbook {
  position: relative;
}
.readingbook > img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
  width: 310px;
  margin: 40px 0px;
  position: absolute;
  top: -54px;
  right: -30px;
  -webkit-clip-path: circle(50% at 83% 50%);
          clip-path: circle(50% at 83% 50%);
}

.second_div {
  width: 100%;
  height: 500px;
  background-color: #f4efeb;
}
.second_div .scontent {
  width: 1000px;
  height: 500px;
  margin: auto;
  position: relative;
}
.second_div .scontent > img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
  width: 370px;
  margin: 30px 0px;
  position: absolute;
  top: 0;
  left: 60px;
  -webkit-clip-path: circle(49.7% at 11% 50%);
          clip-path: circle(49.7% at 11% 50%);
}
.second_div .scontent .stext {
  width: 600px;
  float: right;
  position: relative;
}
.second_div .scontent .stext > .onechild {
  font-size: 17px;
  color: #957a67;
  position: absolute;
  text-transform: uppercase;
  word-spacing: 7px;
  letter-spacing: 4px;
  font-family: initial;
  top: 70px;
  left: 201px;
}
.second_div .scontent .stext > .twochild {
  font-size: 17px;
  color: #957a67;
  position: absolute;
  text-transform: uppercase;
  word-spacing: 7px;
  letter-spacing: 4px;
  font-family: initial;
  top: 95px;
  left: 165px;
}
.second_div .scontent .stext > h2 {
  position: absolute;
  color: #201c1c;
  top: 127px;
  left: 113px;
  font-size: 45px;
  font-family: "manubar";
}
.second_div .scontent .stext > h1 {
  position: absolute;
  color: #201c1c;
  top: 180px;
  left: 228px;
  font-size: 45px;
  font-family: "manubar";
}
.second_div .scontent .stext > p {
  width: 380px;
  position: absolute;
  top: 248px;
  left: 118px;
  text-align: center;
  font-family: "manubar";
  font-weight: normal;
  font-size: 17px;
  letter-spacing: 2px;
  word-spacing: 5px;
}
.second_div .scontent .stext > button {
  position: absolute;
  top: 413px;
  left: 232px;
  background-color: #57646d;
  color: #fff9f9;
  padding: 8px 24px;
  border: none;
  text-transform: uppercase;
  font-family: cursive;
  letter-spacing: 3px;
  font-size: 10px;
  word-spacing: 3px;
  transition: 0.5s;
}
.second_div .scontent .stext > button:hover {
  background-color: #384650;
  cursor: pointer;
  border-radius: 8px;
}

.third_div {
  width: 100%;
  height: 400px;
  background-color: #997c6c;
  display: flex;
  justify-self: center;
  align-items: center;
}
.third_div > div {
  margin: auto;
  position: relative;
}
.third_div > div::before {
  content: "let's tap into";
  position: absolute;
  top: -32px;
  left: -35px;
  font-family: tdiv;
  font-size: 40px;
  color: #f6f0e8;
}
.third_div > div::after {
  content: "the unstoppable";
  position: absolute;
  bottom: -16px;
  right: -56px;
  font-family: tdiv;
  font-size: 40px;
  color: #f6f0e8;
}
.third_div > div > .timg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
  width: 400px;
}

.fourth_div {
  width: 100%;
  height: 810px;
  background: linear-gradient(to right, #f2eadf, #d2a890);
  position: relative;
}
.fourth_div > .heading {
  text-align: center;
  padding: 50px;
}
.fourth_div > .heading > span {
  font-size: 42px;
  color: black;
  font-family: heading;
}

.fallgrid {
  padding: 0px 100px;
  width: 100%;
  position: absolute;
  top: 80px;
  left: 0;
}
.fallgrid img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
  height: 300px;
  width: 300px;
  -webkit-clip-path: circle(50% at 50% 83%);
          clip-path: circle(50% at 50% 83%);
}
.fallgrid > div {
  display: grid !important;
  grid-gap: 16px;
  grid-template-columns: repeat(3, 1fr);
}
.fallgrid > div > div {
  margin: auto;
}
.fallgrid > div > div .pclass {
  width: 300px;
  position: relative;
}
.fallgrid > div > div .pclass > h1 {
  position: absolute;
  top: 25px;
  left: 0px;
  font-family: tdiv;
  font-size: 26px;
  text-align: center;
  color: #4e5858;
}
.fallgrid > div > div .pclass > p {
  position: absolute;
  top: 80px;
  left: 0;
  text-align: center;
  font-family: "manubar";
  font-weight: normal;
  font-size: 17px;
  letter-spacing: 2px;
  word-spacing: 5px;
}
.fallgrid > div > div .pclass > button {
  position: absolute;
  top: 245px;
  left: 66px;
  background-color: #57646d;
  color: #fff9f9;
  padding: 8px 24px;
  border: none;
  text-transform: uppercase;
  font-family: cursive;
  letter-spacing: 3px;
  font-size: 10px;
  word-spacing: 3px;
  transition: 0.5s;
}
.fallgrid > div > div .pclass > button:hover {
  background-color: #384650;
  cursor: pointer;
  border-radius: 8px;
}
.fallgrid > div .fourthgridchild1 h1 {
  left: 20px !important;
}
.fallgrid > div .fourthgridchild2 h1 {
  left: 62px !important;
}
.fallgrid > div .fourthgridchild3 h1 {
  left: 20px !important;
}

.fiveth_div {
  width: 100%;
  height: 420px;
  background-color: white;
  padding: 40px 30px;
  margin: auto;
}
.fiveth_div > .gridpic {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(4, 1fr);
}
.fiveth_div > .gridpic > div {
  margin: auto;
  position: relative;
}
.fiveth_div > .gridpic > div > img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
  width: 300px;
  height: 300px;
}
.fiveth_div > .gridpic .gridpicimg::before {
  content: "Project title";
  position: absolute;
  bottom: 2px;
  right: 45px;
  text-transform: uppercase;
  color: #4e5357;
  background-color: white;
  font-family: "icon";
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 3px;
  word-spacing: 5px;
  padding: 4px 12px;
  transform: translateY(50%);
}

.sixth_div {
  width: 100%;
  height: 600px;
  background-color: #57666d;
  display: flex;
}
.sixth_div .width_container {
  margin: auto;
  display: flex;
}
.sixth_div .width_container .girl_smile {
  position: relative;
}
.sixth_div .width_container .girl_smile img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
  width: 320px;
}
.sixth_div .width_container .girl_smile::after {
  content: "freedom bizz mastery";
  position: absolute;
  bottom: 50px;
  right: 0;
  color: #fffdf4;
  padding: 20px 30px;
  font-size: 43px;
  margin: 13px;
  text-transform: lowercase;
  font-family: "hfont";
  background-color: rgba(204, 162, 140, 0.6117647059);
  text-align: center;
}
.sixth_div .width_container .salltext {
  width: 500px;
  margin: 0px 50px;
  text-align: center;
}
.sixth_div .width_container .salltext > h1 {
  font-size: 45px;
  font-family: "manubar";
  color: #f5f1e9;
}
.sixth_div .width_container .salltext > p {
  text-align: center;
  font-family: "manubar";
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 2px;
  word-spacing: 5px;
  color: #f7feff;
  line-height: 23px;
  padding: 20px 0px;
}
.sixth_div .width_container .salltext > input {
  padding: 10px 18px;
  display: flex;
  margin: auto;
  width: 310px;
  font-family: "heading";
  margin-bottom: 10px;
  border: none;
  margin-top: 3px;
  outline: none;
}
.sixth_div .width_container .salltext > button {
  font-size: 12px;
  padding: 12px 25px;
  background-color: #cca28c;
  text-transform: uppercase;
  border: none;
  margin-top: 25px;
  font-family: "tdiv";
  font-weight: bold;
  color: #4c5a50;
  transition: 0.5s;
  word-spacing: 2px;
  letter-spacing: 1px;
}
.sixth_div .width_container .salltext > button:hover {
  box-shadow: 0px 0px 15px -7px black;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

.seventh_div {
  width: 100%;
  height: 600px;
  background-color: #f4efeb;
}/*# sourceMappingURL=style.css.map */