@font-face {
  font-family: icon;
  src: url(./fonts/CormorantGaramond-Italic.ttf);
}
@font-face {
  font-family: manubar;
  src: url(./fonts/CormorantGaramond-Light.ttf);
}
@font-face {
  font-family: hfont;
  src: url(./fonts/JosefinSlab-SemiBoldItalic.ttf);
}
@font-face {
  font-family: tdiv;
  src: url(./fonts/Marcellus-Regular.ttf);
}
@font-face {
  font-family: heading;
  src: url(./fonts/Taviraj-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first_div {
  width: 100%;
  height: 530px;
  background: linear-gradient(to right, #f2eadf, #d2a890);
  padding: 30px;
}

.header {
  width: 100%;
  height: 75px;
}
.header > h1 {
  font-size: 60px;
  font-family: icon;
  float: left;
}
.header > h1 > a {
  text-decoration: none;
  color: #171310;
}
.header > .manubar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 29px;
  margin-left: 100px;
}
.header > .manubar > ul {
  float: right;
  display: flex;
  list-style: none;
}
.header > .manubar li a {
  text-decoration: none;
  display: block;
  padding: 4px 20px;
  color: #31271d;
  font-size: 22px;
  font-family: manubar;
  word-spacing: 6px;
  letter-spacing: 4px;
  font-weight: bold;
  transition: 0.5s;
}
.header > .manubar li a:hover {
  color: white;
  background-color: #c7997f;
  border-radius: 8px;
}

.contactHr {
  float: right;
  margin: 30px 17px;
}
.contactHr > ul {
  display: flex;
}
.contactHr > ul > li {
  list-style: none;
  padding: 2px 5px;
}
.contactHr > ul > li > a {
  text-decoration: none;
  font-size: 24px;
  color: #1f1f21;
  transition: 1s;
}
.contactHr > ul > li > a:hover {
  color: white;
}

.himg {
  width: 600px;
  float: left;
  position: relative;
}
.himg > img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
  margin: 40px 0px;
}
.himg > div {
  float: right;
  margin: 2px;
}
.himg > div > span {
  font-size: 50px;
  background-color: #545d62;
  color: white;
  padding: 2px 12px;
  font-family: hfont;
}
.himg .aligningYour {
  position: absolute;
  top: 122px;
  right: -166px;
}
.himg .dreamLife {
  position: absolute;
  top: 192px;
  right: -91px;
}
.himg .andBuisness {
  position: absolute;
  top: 263px;
  right: -140px;
}

.readingbook {
  position: relative;
}
.readingbook > img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
  width: 310px;
  margin: 40px 0px;
  position: absolute;
  top: -54px;
  right: -30px;
  -webkit-clip-path: circle(50% at 83% 50%);
          clip-path: circle(50% at 83% 50%);
}

.second_div {
  width: 100%;
  height: 500px;
  background-color: #f4efeb;
}
.second_div .scontent {
  width: 1000px;
  height: 500px;
  margin: auto;
  position: relative;
}
.second_div .scontent > img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
  width: 370px;
  margin: 30px 0px;
  position: absolute;
  top: 0;
  left: 60px;
  -webkit-clip-path: circle(49.7% at 11% 50%);
          clip-path: circle(49.7% at 11% 50%);
}
.second_div .scontent .stext {
  width: 600px;
  float: right;
  position: relative;
}
.second_div .scontent .stext > .onechild {
  font-size: 17px;
  color: #957a67;
  position: absolute;
  text-transform: uppercase;
  word-spacing: 7px;
  letter-spacing: 4px;
  font-family: initial;
  top: 70px;
  left: 201px;
}
.second_div .scontent .stext > .twochild {
  font-size: 17px;
  color: #957a67;
  position: absolute;
  text-transform: uppercase;
  word-spacing: 7px;
  letter-spacing: 4px;
  font-family: initial;
  top: 95px;
  left: 165px;
}
.second_div .scontent .stext > h2 {
  position: absolute;
  color: #201c1c;
  top: 127px;
  left: 113px;
  font-size: 45px;
  font-family: "manubar";
}
.second_div .scontent .stext > h1 {
  position: absolute;
  color: #201c1c;
  top: 180px;
  left: 228px;
  font-size: 45px;
  font-family: "manubar";
}
.second_div .scontent .stext > p {
  width: 380px;
  position: absolute;
  top: 248px;
  left: 118px;
  text-align: center;
  font-family: "manubar";
  font-weight: normal;
  font-size: 17px;
  letter-spacing: 2px;
  word-spacing: 5px;
}
.second_div .scontent .stext > button {
  position: absolute;
  top: 413px;
  left: 232px;
  background-color: #57646d;
  color: #fff9f9;
  padding: 8px 24px;
  border: none;
  text-transform: uppercase;
  font-family: cursive;
  letter-spacing: 3px;
  font-size: 10px;
  word-spacing: 3px;
}
.second_div .scontent .stext > button:hover {
  background-color: #384650;
  cursor: pointer;
  border-radius: 6px;
}

.third_div {
  width: 100%;
  height: 400px;
  background-color: #997c6c;
  display: flex;
  justify-self: center;
  align-items: center;
}
.third_div > div {
  margin: auto;
  position: relative;
}
.third_div > div::before {
  content: "let's tap into";
  position: absolute;
  top: -32px;
  left: -35px;
  font-family: tdiv;
  font-size: 40px;
  color: #f6f0e8;
}
.third_div > div::after {
  content: "the unstoppable";
  position: absolute;
  bottom: -16px;
  right: -56px;
  font-family: tdiv;
  font-size: 40px;
  color: #f6f0e8;
}
.third_div > div > .timg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
  width: 400px;
}

.fourth_div {
  width: 100%;
  height: 715px;
  background: linear-gradient(to right, #f2eadf, #d2a890);
  position: relative;
}
.fourth_div > .heading {
  text-align: center;
  padding: 50px;
}
.fourth_div > .heading > span {
  font-size: 42px;
  color: black;
  font-family: heading;
}

.fallgrid {
  padding: 0px 100px;
  width: 100%;
  position: absolute;
  top: 80px;
  left: 0;
}
.fallgrid img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
  height: 300px;
  width: 300px;
  -webkit-clip-path: circle(50% at 50% 83%);
          clip-path: circle(50% at 50% 83%);
}
.fallgrid > div {
  display: grid !important;
  grid-gap: 16px;
  grid-template-columns: repeat(3, 1fr);
}
.fallgrid > div > div {
  margin: auto;
}
.fallgrid > div > div .pclass {
  width: 300px;
  position: relative;
}
.fallgrid > div > div .pclass > h1 {
  position: absolute;
  top: 25px;
  left: 0px;
  font-family: tdiv;
  font-size: 26px;
  text-align: center;
  color: #4e5858;
}
.fallgrid > div > div .pclass > p {
  position: absolute;
  top: 80px;
  left: 0;
  text-align: center;
  font-family: "manubar";
  font-weight: normal;
  font-size: 17px;
  letter-spacing: 2px;
  word-spacing: 5px;
}
.fallgrid > div > div .pclass > button {
  position: absolute;
  top: 245px;
  left: 66px;
  background-color: #57646d;
  color: #fff9f9;
  padding: 8px 24px;
  border: none;
  text-transform: uppercase;
  font-family: cursive;
  letter-spacing: 3px;
  font-size: 10px;
  word-spacing: 3px;
}
.fallgrid > div > div .pclass > button:hover {
  background-color: #384650;
  cursor: pointer;
  border-radius: 6px;
}
.fallgrid > div .fourthgridchild1 h1 {
  left: 20px !important;
}
.fallgrid > div .fourthgridchild2 h1 {
  left: 62px !important;
}
.fallgrid > div .fourthgridchild3 h1 {
  left: 20px !important;
}/*# sourceMappingURL=style.css.map */