@font-face {
  font-family: icon;
  src: url(./fonts/CormorantGaramond-Italic.ttf);
}
@font-face {
  font-family: manubar;
  src: url(./fonts/CormorantGaramond-Light.ttf);
}
@font-face {
  font-family: hfont;
  src: url(./fonts/JosefinSlab-SemiBoldItalic.ttf);
}
@font-face {
  font-family: tdiv;
  src: url(./fonts/Marcellus-Regular.ttf);
}
@font-face {
  font-family: heading;
  src: url(./fonts/Taviraj-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mybg: #d2a890;

.first_div {
  width: 100%;
  height: 530px;
  background: linear-gradient(to right, #f2eadf, $mybg);
  padding: 30px;
}
.header {
  width: 100%;
  height: 75px;

  > h1 {
    font-size: 60px;
    font-family: icon;
    float: left;
    > a {
      text-decoration: none;
      color: #171310;
    }
  }
  > .manubar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 29px;
    margin-left: 100px;

    > ul {
      float: right;
      display: flex;
      list-style: none;
    }

    li a {
      text-decoration: none;
      display: block;
      padding: 4px 20px;
      color: #31271d;
      font-size: 22px;
      font-family: manubar;
      word-spacing: 6px;
      letter-spacing: 4px;
      font-weight: bold;
      transition: 0.5s;
    }
    li a:hover {
      color: white;
      background-color: #c7997f;
      border-radius: 8px;
    }
  }
}

.contactHr {
  float: right;
  margin: 30px 17px;

  > ul {
    display: flex;
    > li {
      list-style: none;
      padding: 2px 5px;
      > a {
        text-decoration: none;
        font-size: 24px;
        color: #1f1f21;
        transition: 1s;
      }
      > a:hover {
        color: white;
      }
    }
  }
}
@mixin imagecode() {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
}
.himg {
  width: 600px;
  float: left;
  position: relative;
  > img {
    @include imagecode();

    margin: 40px 0px;
  }
  > div {
    float: right;

    margin: 2px;
    > span {
      font-size: 50px;
      background-color: #545d62;
      color: white;
      padding: 2px 12px;
      font-family: hfont;
    }
  }
  .aligningYour {
    position: absolute;
    top: 122px;
    right: -166px;
  }
  .dreamLife {
    position: absolute;
    top: 192px;
    right: -91px;
  }
  .andBuisness {
    position: absolute;
    top: 263px;
    right: -140px;
  }
}

.readingbook {
  position: relative;
  > img {
    @include imagecode();
    width: 310px;
    margin: 40px 0px;
    position: absolute;
    top: -54px;
    right: -30px;
    clip-path: circle(50% at 83% 50%);
  }
}

// second_div content

.second_div {
  width: 100%;
  height: 500px;
  background-color: #f4efeb;

  .scontent {
    width: 1000px;
    height: 500px;
    margin: auto;

    position: relative;
    > img {
      @include imagecode();
      width: 370px;
      margin: 30px 0px;
      position: absolute;
      top: 0;
      left: 60px;
      clip-path: circle(49.7% at 11% 50%);
    }
    .stext {
      width: 600px;

      float: right;
      position: relative;

      > .onechild {
        font-size: 17px;
        color: #957a67;
        position: absolute;
        text-transform: uppercase;
        word-spacing: 7px;
        letter-spacing: 4px;
        font-family: initial;
        top: 70px;
        left: 201px;
      }
      > .twochild {
        font-size: 17px;
        color: #957a67;
        position: absolute;
        text-transform: uppercase;
        word-spacing: 7px;
        letter-spacing: 4px;
        font-family: initial;
        top: 95px;
        left: 165px;
      }
      > h2 {
        position: absolute;
        color: #201c1c;
        top: 127px;
        left: 113px;
        font-size: 45px;
        font-family: "manubar";
      }
      > h1 {
        position: absolute;
        color: #201c1c;
        top: 180px;
        left: 228px;
        font-size: 45px;
        font-family: "manubar";
      }
      > p {
        width: 380px;
        position: absolute;
        top: 248px;
        left: 118px;
        text-align: center;
        font-family: "manubar";
        font-weight: normal;
        font-size: 17px;
        letter-spacing: 2px;
        word-spacing: 5px;
      }
      > button {
        position: absolute;
        top: 413px;
        left: 232px;
        background-color: #57646d;
        color: #fff9f9;
        padding: 8px 24px;
        border: none;
        text-transform: uppercase;
        font-family: cursive;
        letter-spacing: 3px;
        font-size: 10px;
        word-spacing: 3px;
        transition: 0.5s;
        &:hover {
          background-color: #384650;
          cursor: pointer;
          border-radius: 8px;
        }
      }
    }
  }
}

// third_div

.third_div {
  width: 100%;
  height: 400px;
  background-color: #997c6c;
  display: flex;
  justify-self: center;
  align-items: center;

  > div {
    margin: auto;
    position: relative;
    &::before {
      content: "let's tap into";
      position: absolute;
      top: -32px;
      left: -35px;
      font-family: tdiv;
      font-size: 40px;
      color: #f6f0e8;
    }
    &::after {
      content: "the unstoppable";
      position: absolute;
      bottom: -16px;
      right: -56px;
      font-family: tdiv;
      font-size: 40px;
      color: #f6f0e8;
    }
    > .timg {
      @include imagecode();
      width: 400px;
    }
  }
}

// fourt_div

.fourth_div {
  width: 100%;
  height: 810px;
  background: linear-gradient(to right, #f2eadf, $mybg);
  position: relative;

  > .heading {
    text-align: center;
    padding: 50px;
    > span {
      font-size: 42px;
      color: black;
      font-family: heading;
    }
  }
}
.fallgrid {
  padding: 0px 100px;
  width: 100%;
  position: absolute;
  top: 80px;
  left: 0;

  img {
    @include imagecode();
    height: 300px;
    width: 300px;
    clip-path: circle(50% at 50% 83%);
  }
  > div {
    display: grid !important;
    grid-gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 300px;
    > div {
      margin: auto;
      .pclass {
        width: 300px;
        position: relative;
        > h1 {
          position: absolute;
          top: 25px;
          left: 0px;
          font-family: tdiv;
          font-size: 26px;
          text-align: center;
          color: #4e5858;
        }

        > p {
          position: absolute;
          top: 80px;
          left: 0;
          text-align: center;
          font-family: "manubar";
          font-weight: normal;
          font-size: 17px;
          letter-spacing: 2px;
          word-spacing: 5px;
        }
        > button {
          position: absolute;
          top: 245px;
          left: 66px;
          background-color: #57646d;
          color: #fff9f9;
          padding: 8px 24px;
          border: none;
          text-transform: uppercase;
          font-family: cursive;
          letter-spacing: 3px;
          font-size: 10px;
          word-spacing: 3px;
          transition: 0.5s;
          &:hover {
            background-color: #384650;
            cursor: pointer;
            border-radius: 8px;
          }
        }
      }
    }

    .fourthgridchild1 h1 {
      left: 20px !important;
    }
    .fourthgridchild2 h1 {
      left: 62px !important;
    }
    .fourthgridchild3 h1 {
      left: 20px !important;
    }
  }
}

// fiveth_div

.fiveth_div {
  width: 100%;
  height: 420px;
  background-color: white;
  padding: 40px 30px;
  margin: auto;

  > .gridpic {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(4, 1fr);

    > div {
      margin: auto;
      position: relative;

      > img {
        @include imagecode();
        width: 300px;
        height: 300px;
      }
    }
    .gridpicimg::before {
      content: "Project title";
      position: absolute;
      bottom: 2px;
      right: 45px;
      text-transform: uppercase;
      color: #4e5357;
      background-color: white;
      font-family: "icon";
      font-size: 22px;
      font-weight: bold;
      letter-spacing: 3px;
      word-spacing: 5px;
      padding: 4px 12px;
      transform: translateY(50%);
    }
  }
}

// sixth_div

.sixth_div {
  width: 100%;
  height: 600px;
  background-color: #57666d;
  display: flex;

  .width_container {
    margin: auto;
    display: flex;

    .girl_smile {
      position: relative;
      img {
        @include imagecode();
        width: 320px;
      }
      &::after {
        content: "freedom bizz mastery";
        position: absolute;
        bottom: 50px;
        right: 0;
        color: #fffdf4;
        padding: 20px 30px;
        font-size: 43px;
        margin: 13px;
        text-transform: lowercase;
        font-family: "hfont";
        background-color: rgba(204, 162, 140, 0.6117647059);
        text-align: center;
      }
    }
    .salltext {
      width: 500px;
      margin: 0px 50px;
      text-align: center;
      > h1 {
        font-size: 45px;
        font-family: "manubar";
        color: #f5f1e9;
      }
      > p {
        text-align: center;
        font-family: "manubar";
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 2px;
        word-spacing: 5px;
        color: #f7feff;
        line-height: 23px;
        padding: 20px 0px;
      }
      > input {
        padding: 10px 18px;
        display: flex;
        margin: auto;
        width: 310px;
        font-family: "heading";
        margin-bottom: 10px;
        border: none;
        margin-top: 3px;
        outline: none;
      }
      > button {
        font-size: 12px;
        padding: 12px 25px;
        background-color: #cca28c;
        text-transform: uppercase;
        border: none;
        margin-top: 25px;
        font-family: "tdiv";
        font-weight: bold;
        color: #4c5a50;
        transition: 0.5s;
        word-spacing: 2px;
        letter-spacing: 1px;
        &:hover {
          box-shadow: 0px 0px 15px -7px black;
          color: white;
          cursor: pointer;
          border-radius: 8px;
        }
      }
    }
  }
}

// seventh_div

.seventh_div {
  width: 100%;
  height: 600px;
  background-color: #f4efeb;
}
